/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#f7f3ea;
}
.navbar{
  border-bottom: 3px solid #333;
  
}
.navbarbg{
  background-color: #87509c;
}
#mainnav ul{}
#mainnav ul li{
  margin-left: 15px;
}
#mainnav ul li a{
  font-size: 16px;
  text-transform: uppercase;
  padding: 5px;
  
}
#mainnav ul li.active{
  background: #333333;
  border-radius: 5px;
}
#header{
  background: #87509c;
  
}
#header h1{
  padding-top: 150px;
  padding-bottom: 30px;
}
#header input[type="button"]{
  color:#f7f3ea ;
  background: #eb7d4b;
  padding: 15px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  border-bottom: 3px solid #000000;
  margin-bottom: 130px;
}
#SERVICES{
  background: #ffffff;
  background: url(../img/cap.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
#SERVICES .blur{
  background: rgba(0, 0, 0, 0.7);
  
}
.sertext h1{
  padding-top: 100px;
  margin-bottom: 0px;
}
.sertext hr{
  max-width: 100px;
  height: 3px;
  background: #000000;
  margin: 10px auto;
  opacity: .1;
}
.sertext p{}
.sercontent{
  padding-bottom: 100px;
}
.sercontent i{
  font-size: 56px;
  margin-bottom: 15px;
}
.sercontent h3{
  font-size: 24px;
}
.sercontent p{
  font-size: 16px;
}
#TEAM{
  color: #333333;
  background: #e7f1f8;
  padding-bottom: 30px;
  
}
.teamtext p{
margin-bottom: 30px;
}
.teamtext h1{
  padding-top: 100px;
  margin-bottom: 0px;
}
.teamtext hr{
  max-width: 100px;
  height: 3px;
  background: #000000;
  margin: 10px auto;
  opacity: .1;
}
.teamcontent img{
  border-radius: 50%;
  width: 80%;
  height: 50%;
  background: #333;
  margin-bottom: 15px;
}
.teamcontent h3{
  font-size: 24px;
}
.teamcontent p{
  font-size: 16px;
  
}
.teamcontent i{
  font-size: 16px;
  background: #333;
  color: #e7f1f8;
  padding: 10px;
  
  border-radius: 50%;
  opacity: .3;
  margin-bottom: 50px;
}
#skill{
  background: #ffffff;
  background: url(../img/skill.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}
#skill .blur{
  background: rgba(0, 0, 0, 0.7);
  padding-bottom: 100px;
}
.skillcontent{}
.skillcontent h1{
  margin-top: -95px;
}
.skillcontent h3{
  margin-top: 95px;
  margin-bottom: 20px;
}
#gettouch{ padding-bottom: 100px;
  background: #3c5499;
}

.touchfullbody hr{
  max-width: 100px;
  height: 3px;
  background: #000000;
  margin: 10px auto;
  opacity: .1;
}
#gettouch .touchcontenet{}
#gettouch .touchcontenet form{
  
}
#gettouch .touchcontenet form input[type="text"]{
  width: 46%;
  float: left;
  margin-bottom: 30px;
  background: #273a71;
  border: none;
  color: #ffffff;
}
#gettouch .touchcontenet form input[type="email"]{
  width: 46%;
  float: right;
  background: #273a71;
  border: none;
  color: #ffffff;
  font-weight: normal;
}
#gettouch .touchcontenet form textarea{
  background: #273a71;
  border: none;
  color: #ffffff;
}
#gettouch .touchcontenet form input[type="submit"]{
  width: 35%;
  background: #30bae7;
  border: none;
  margin: 30px auto;
  padding: 10px 0px;
}
#footer{
  background:#344b8e;
  padding: 50px 0px;
}
#footer ul{list-style: none;margin: 0; padding: 0;}
#footer ul li{display: inline;}
#footer ul li a{color: #ffffff;font-size: 24px;margin: 0px 20px;}
#footer ul li a:hover{color: #30bae7;text-decoration: none;}
#particles-js{
  background: #3c5499; 
}
#OPINION{
  padding: 100px 0px;
  background: #d74680;
}
.optext hr{
  max-width: 100px;
  height: 3px;
  background: #000000;
  margin: 10px auto;
  opacity: .1;
}
#PROTFOLIO{
  background: #ffdd99;
  padding-bottom: 100px;
  color: #000;
}
.first .item img{
  width: 100%;
  height: 300px;
}