.first{
    max-width: 920px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.first .item img{
height: 200px;
}

.secound{
    max-width: 1024px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.secound .item img{
    width: 100%;
    height: 300px;
    opacity: .7;
}
.secound .item img:hover{
    opacity: 1;
}
.three{
    
    margin: 0 auto;
    margin-bottom: 50px;
}
.three .item img{
    width: 100%;
    height: 300px;
}